.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom............ */

.card {
  border: solid;
  background: aquamarine;
  margin: 7% 32%;
  padding: 9%;
  border-radius: 30%;
}

.temperature-display-container {
  border: 1px white solid;
  /* background: orange; */
  margin: 7% 32%;
  padding: 9%;
  border-radius: 40%;
  transition: 5s;
}

.btn-outline-info {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  font-size: 30px;
  background: rgb(105, 104, 104);
  margin: 30px;
}

.blue {
  background-color: rgb(103, 103, 226);
}

.red {
  background-color: rgb(236, 82, 82);
}

.green {
  background-color: aqua;
}

.form-control-main {
  margin-bottom: 12px;
}

/* login form */
.error {
  color: red;
  font-size: 20px;
}

.main-container {
  margin: 9% auto;
  padding: 10%;
  width: 38%;
  background-color: aquamarine;
  border-radius: 10%;
}

/* child-to-parent */
.parent-container {
  margin: 9% auto;
  padding: 10%;
  width: 38%;
  background-color: aquamarine;
  border-radius: 10%;
}

/* Search filter */

.search-container {
  margin: 9% auto;
  padding: 10%;
  width: 38%;
  background-color: aquamarine;
  border-radius: 10%;
}

/* Navbar */

.collapse {
  margin-left: 28% ;
}

.navbar-nav{
  margin: inherit ;
}

.nav-item{
  padding: 5px ;

}

.navbar {
  margin: 20px ;
}

.navbar-brand{
  margin-left: 28px;
}